// ===THEME===
//themes: Light, Dark, Normal
$theme: Light;

//brads
$brand:blue-bean;


// ==COLORS==
$text-color: #222222;
$theme-color: #170a48;
$secondary-color: #f27731;
$ternary-color: #ccf962;
$link-color: $secondary-color;
$menu-item-color: white;
$body-background-color: #fff;

@if $theme == Dark {
  $text-color: #fff;
  $body-background-color: #22222a;
  $theme-color: #42424a;
  $secondary-color: #c24721;
  $ternary-color: #698932;
  $link-color: $secondary-color;
  $menu-item-color: white;
} @else if $theme == Light {
  $text-color: #000;
  $body-background-color: #fff;
  $theme-color: #372a27;
  $secondary-color: #d62741;
  $ternary-color: #b9da63;
  $link-color: $secondary-color;
  $menu-item-color: white;
}

// ==FONTS==
$text-font: "Alegreya Sans", Arial, sans-serif;
$headline-font: "Titllium Web Linotype", Georgia, serif;

// ==SIZES==
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;
$col: col-width(
  $columns: 8,
);

//SIDEBAR
//left right
$side: right;
$content-side: left;
$sidebar-side: right;

@if $side==left {
  $content-side: left;
  $sidebar-side: right;
} @else if $side==right {
  $content-side: right;
  $sidebar-side: left;
}
